server:
  port: 8080
#  Authserver url
auth:
  url: http://localhost:9001
spring:
  application:
    name: "accounts"
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
#  profiles:
#    active:
#      - "prod"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
  security:
    oauth2:
#      Validate incoming token
      resourceserver:
        opaque-token:
          introspection-uri: ${auth.url}/oauth2/introspect
          client-id: accounts-service
          client-secret: accounts-secret
      client:
        registration:
          accounts-service:
            client-id: accounts-service
            client-secret: accounts-secret
            authorization-grant-type: client_credentials
            scope: service.read, service.write, internal.api, introspection
          opaque-service-client:
            client-id: secure-service
            client-secret: secure-secret
            authorization-grant-type: client_credentials
            scope: service.read, service.write, internal.api, introspection
        provider:
          accounts-service:
            token-uri: ${auth.url}/oauth2/token
          opaque-service-client:
            token-uri: ${auth.url}/oauth2/token
#  rabbitmq:
#    host: "localhost"
#    port: 5672
#    username: "guest"
#    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "accounts"
    description: "accounts microservice"
    version: "1.0.0"

logging:
  level:
    com:
      microservice:
        accounts: DEBUG

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
  retry:
    default:
      maxAttempts: 3
      waitDuration: 100
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      ignoreExceptions: #retry will not happen for below exceptions
        - java.lang.NullPointerException
#      retryExceptions: #retry will happen only for below exceptions
#        - java.util.concurrent.TimeoutException
  ratelimiter:
    configs:
      default:
        timeoutDuration: 1000
        limitRefreshPeriod: 5000
        limitForPeriod: 1